<div class="flex px-10 py-2 main">
  <div class="w-2/12">
    <h2 class="bg-slate-200 w-12 border-spacing-3 border-r-8">Filter</h2>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        [(ngModel)]="categoryId"
        name="categoryId"
        (selectionChange)="onCategoryChange($event.value)"
      >
        @for(item of categorys; track item){
        <mat-option value="{{ item._id }}">{{ item.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <mat-select
        [(ngModel)]="brandId"
        name="brandId"
        (selectionChange)="onBrandChange($event.value)"
      >
        @for(item of brands; track item){
        <mat-option class="capitalize" value="{{ item._id }}"
          ><span class="capitalize">{{ item.name }}</span></mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-10/12">
    <div class="flex justify-end">
      <mat-form-field>
        <mat-label>Order by</mat-label>
        <mat-select name="categoryId" (selectionChange)="orderby($event.value)">
          <mat-option value="-1">Price high to low</mat-option>
          <mat-option value="1">Price low to high</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    @if(products.length > 0){
    <app-product-slider
      title="{{ categoryName }}"
      [product]="products"
    ></app-product-slider>
    }@else{
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        Products of <span class="lowercase">{{ categoryName }} </span> are not
        found.
      </h1>
      <p>Please select another category</p>
    </div>

    }
  </div>
</div>
