<div class="header-container shadow">
  <div class="top-bar">
    <div class="logo">
      <a routerLink="/">
        <img src="images/logo.webp" alt="logo" width="150" height="50" />
      </a>
    </div>
    <div class="search-box relative" #searchBox>
      <input
        type="text"
        placeholder="Search products, brands and more"
        (keyup)="searchitems()"
        [(ngModel)]="searchTerm"
      />
      <button type="button" (click)="searchitem()">🔍</button>
      @if(products.length > 0 && searchTerm.length > 0 && showDropdown){
      <div
        class="SearchItem absolute top-12 left-0 bg-white shadow-lg z-10 w-full max-h-60 overflow-y-auto rounded-b-lg"
      >
        <ul>
          @for(item of products; track item._id){
          <li
            class="flex items-center justify-between p-2 border-b cursor-pointer"
            (click)="selectProduct(item._id!)"
          >
            <div class="text-black p-2">{{ item.name }}</div>
            <div class="text-black p-2">${{ item.price }}</div>
          </li>
          }
        </ul>
      </div>
      } @else if(searchTerm.length > 0 && showDropdown){
      <div
        class="SearchItem absolute top-12 left-0 bg-white shadow-lg z-10 w-full max-h-60 overflow-y-auto rounded-b-lg"
      >
        <ul>
          <li class="p-2 text-gray-500">No results found</li>
        </ul>
      </div>
      }
    </div>

    <div class="icons">
      <div class="flex flex-col items-center justify-center">
        @if(authService.loggedIn){ @if(authService.isAdmin){
        <h2 class="flex align-middle">
          G'day
          <a class="px-2 capitalize" routerLink="/dashboard">{{
            authService.userName
          }}</a>
        </h2>
        }@else{
        <h2>
          G'day
          <a class="capitalize" routerLink="/user-profile">{{
            authService.userName
          }}</a>
          <!-- Replace with profile icon -->
        </h2>
        } } @else {
        <button routerLink="/login"><mat-icon>person</mat-icon></button>
        }
      </div>
      @if(!authService.isAdmin){
      <button
        mat-fab
        aria-label="Toggle Wishlist"
        routerLink="/wishlist"
        class="relative flex items-center justify-center"
        routerLink="/orders"
      >
        <mat-icon class="text-pink-300">shopping_bag</mat-icon>
      </button>
      <button
        mat-fab
        aria-label="Toggle Wishlist"
        routerLink="/wishlist"
        class="relative flex items-center justify-center"
      >
        <mat-icon class="text-pink-300">favorite</mat-icon
        ><span
          class="wislist-count absolute -top-0 -right-0 bg-pink-600 text-white text-xs font-semibold rounded-full w-4 h-4 flex items-center justify-center shadow"
          >{{ wishlistCount() }}</span
        >
      </button>

      <button
        class="icon-button"
        aria-label="Cart"
        routerLink="/cart"
        class="relative flex items-center justify-center"
      >
        <mat-icon class="text-blue-500">shopping_cart</mat-icon>
        <span
          class="cart-count absolute -top-0 -right-0 bg-pink-600 text-white text-xs font-semibold rounded-full w-4 h-4 flex items-center justify-center shadow"
          >{{ cartItemCount() }}</span
        >
      </button>
      } @if(authService.loggedIn){
      <button (click)="logout()"><mat-icon>logout</mat-icon></button>
      }
    </div>
  </div>
  <div class="categories">
    <ul>
      @for(item of category;track $index){
      <li (click)="searchCategory(item._id!)" class="cursor-pointer category">
        <a>{{ item.name }}</a>
      </li>
      }
    </ul>
  </div>
</div>
