<div>
  <mat-card class="product-card shadow-lg">
    <mat-card-content>
      <div class="product-image flex justify-center max-h-full flex-shrink-0">
        <img
          [src]="environment.API_URL + item().images[0]"
          [alt]="item().name"
          class="w-full h-48 object-cover rounded-md"
          (click)="productdisplay(item()._id)"
        />
      </div>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title class="font-bold text-2xl">
        <h2
          class="font-medium capitalize text-2xl md:text-4xl text-gray-800 hover:text-blue-600 cursor-pointer"
          (click)="productdisplay(item()._id)"
        >
          {{ item().name }}
        </h2>
      </mat-card-title>
    </mat-card-header>
    @if(item().discount > 0){
    <div class="flex justify-start p-2 align-middle mt-2">
      <span
        class="text-xs font-bold text-white text-center bg-black px-2 py-1 rounded flex items-center"
        >Save {{ item().discount }}%</span
      >&nbsp;
      <span
        class="text-xl font-bold text-gray-600 line-through flex items-center"
        >${{ item().price }}</span
      >&nbsp;
      <span class="text-3xl font-bold text-red-700"
        >${{
          this.item().price - (this.item().price * this.item().discount) / 100
        }}</span
      >
    </div>
    } @else {
    <div class="flex justify-start p-2 align-middle mt-2">
      <span class="text-xl font-bold text-red-700">${{ item().price }}</span>
    </div>
    }

    <mat-card-actions class="flex justify-between">
      <button
        mat-fab
        aria-label="Toggle cart"
        (click)="toggleCartItem(item()!)"
      >
        <mat-icon>
          {{
            cartService.isInCart(item()._id!)
              ? "remove_shopping_cart"
              : "shopping_cart"
          }}
        </mat-icon>
      </button>

      <button
        mat-fab
        aria-label="Toggle Wishlist"
        (click)="toggleWishlist(item())"
      >
        <mat-icon>
          {{
            wishlistService.isInWishlist(item()._id!)
              ? "favorite"
              : "favorite_border"
          }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
