<div class="flex justify-center items-center my-4 w-full">
  <h2 class="text-3xl font-bold">{{ title() }}</h2>
</div>

@if (product().length > 0) {
<owl-carousel-o [options]="carouselOptions" class="my-6">
  @for (item of product(); track item._id) {
  <ng-template carouselSlide>
    <!-- Each card with spacing -->
    <div class="w-[320px] mx-3">
      <app-product-card [item]="item"></app-product-card>
    </div>
  </ng-template>
  }
</owl-carousel-o>
} @else {
<div class="text-gray-500 text-center py-10">No products found.</div>
}
