<div class="flex items-center justify-center flex-col main">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm my-5">
    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Login</h2>
    <form [formGroup]="loginForm">
      <!-- Email -->
      <div class="mb-4">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Enter your email"
          />
          @if(formValidation['email'] && formValidation['email'].touched){
          @if(formValidation['email'].errors?.['required']){
          <mat-error>
            <small> email is required.</small>
          </mat-error>
          } @if(formValidation['email'].errors?.['email']){
          <mat-error>
            <small>Please enter a valid email address.</small>
          </mat-error>
          } }
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="mb-6">
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Enter your password"
          />
          @if(formValidation['password'] && formValidation['password'].touched){
          @if(formValidation['email'].errors?.['required']){
          <mat-error>
            <small> Password is required.</small>
          </mat-error>
          } @if(formValidation['password'].errors?.['minlength']){
          <mat-error>
            <small>Password must be at least 8 characters long. </small>
          </mat-error>
          } @if(formValidation['password'].errors?.['pattern']){
          <mat-error>
            <small
              >Password must contain at least one uppercase letter and one
              special character.</small
            >
          </mat-error>
          } }
        </mat-form-field>
      </div>

      <!-- Submit Button -->
      <button class="w-full" mat-raised-button (click)="addLogin($event)">
        Submit
      </button>
      <mat-error class="mt-2 text-xs">
        {{ errorMessage }}
      </mat-error>
      <div class="flex justify-center items-center pt-2">
        Don't have an account &nbsp;<button
          class="underline text-red-500"
          (click)="register()"
        >
          Get in touch
        </button>
      </div>
    </form>
  </div>
</div>
